<h2>Welcome to Nodebucket's Task Manager</h2>
<p>Please login or register to begin using this application</p>
<p>Once logged in, your tasks can be added and tracked within the "Tasks" section found in the top navigation bar.
  Employees can edit and delete their own tasks and also mark their work as "Complete" using the drag and drop functionality
  in the "MyTasks" section. Employees can view their coworkers tasks as well, but cannot edit or delete them.
</p>
<p>If you are an admin, you can edit your teams tasks by navigating to the admin panel linked in the top navigation bar</p>
