<h2>All Tasks</h2>
<p class="info-text mat-body-1" *ngIf="allTasks.length <= 0">No Tasks Exist</p>
<mat-accordion multi="true" *ngIf="allTasks.length > 0">
  <mat-expansion-panel *ngFor="let task of allTasks">
    <mat-expansion-panel-header class='task-title'>
      <b>Task:</b>&nbsp;{{ task.title }}
    </mat-expansion-panel-header>
    <p><b>Details:</b></p>
    <p>{{ task.content }}</p>
    <p><b>Completed:</b></p>
    <p>{{ task.done }}</p>
    <mat-action-row *ngIf="(employeeIsAuthenticated && (eId === task.creator || isAdmin == 'true'))">
      <a mat-button color="primary" [routerLink]="['/edit', task.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(task.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

